# Solutions:

In [ ]:
#firstly importing all the required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

1.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up naukri.com website on automated chrome window

driver.get('https://www.naukri.com/')

In [ ]:
#finding element for job search bar

search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Analyst')

In [ ]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_designation.send_keys('Bangalore')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [ ]:
#now creating empty lists

job_titles=[]
company_names=[]
locations=[]
experience=[]

In [ ]:
#lets extract all the tags having job titles

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

In [ ]:
for i in titles_tags:
    job_titles.append(i.text)
    
job_titles=job_titles[0:10]

In [ ]:
job_titles

In [ ]:
#extracting company names

companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:4]

In [ ]:
for i in companies:
    company_names.append(i.text)
    
company_names=company_names[0:10]

In [ ]:
company_names

In [ ]:
#extracting locations
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc[0:4]

In [ ]:
for i in loc:
    locations.append(i.text)
    
locations=locations[0:10]

In [ ]:
#extracting experience tags

exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:4]

In [ ]:
for i in exp:
    experience.append(i.text)

experience=experience[0:10]

In [ ]:
#now checking the lengths of the lists created

print(len(job_titles),len(company_names),len(locations),len(experience))

In [27]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'JOB TITLE':job_titles,'COMPANY':company_names,'LOCATION':locations,'EXPERIENCE REQUIRED':experience})
df.style.set_caption('DATA ANALYST JOBS IN BENGALORE')

In [ ]:
#closing the driver

driver.close()

2.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up naukri.com website on automated chrome window

driver.get('https://www.naukri.com/')

In [ ]:
#finding element for job search bar

search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Scientist')

In [ ]:
search_field_designation=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_designation.send_keys('Bangalore')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [ ]:
#now creating empty lists

job=[]
company=[]
locations=[]
experience=[]

In [ ]:
#lets extract all the tags having job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

In [ ]:
for i in titles_tags:
    job.append(i.text)
    
job=job[0:10]

In [ ]:
#extracting company names

companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:4]

In [ ]:
for i in companies:
    company.append(i.text)
    
company=company[0:10]

In [ ]:
#extracting locations

loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc[0:4]

In [ ]:
for i in loc:
    locations.append(i.text)
    
locations=locations[0:10]

In [ ]:
#extracting experience tags
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:4]

In [ ]:
for i in exp:
    experience.append(i.text)

experience=experience[0:10]

In [ ]:
#now checking the lengths of the lists created

print(len(job),len(company),len(locations),len(experience))

In [46]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'JOB TITLE':job,'COMPANY':company,'LOCATION':locations,'EXPERIENCE REQUIRED':experience})
df.style.set_caption('DATA SCIENTIST JOBS IN BENGALORE')

In [ ]:
#closing the driver

driver.close()

3.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up naukri.com website on automated chrome window

driver.get('https://www.naukri.com/')

In [ ]:
#finding element for job search bar

search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Scientist')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [ ]:
#now ticking the filter boxes

location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]')
location_filter.click()

In [ ]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]')
salary_filter.click()

In [ ]:
#now creating empty lists

job=[]
company=[]
locations=[]
experience=[]

In [ ]:
#lets extract all the tags having job titles

titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

In [ ]:
for i in titles_tags:
    job.append(i.text)
    
job=job[0:10]

In [ ]:
#extracting company names

companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[0:4]

In [ ]:
for i in companies:
    company.append(i.text)
    
company=company[0:10]

In [ ]:
#extracting locations

loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc[0:4]

In [ ]:
for i in loc:
    locations.append(i.text)
    
locations=locations[0:10]

In [ ]:
#extracting experience tags

exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:4]

In [ ]:
for i in exp:
    experience.append(i.text)

experience=experience[0:10]

In [ ]:
#now checking the lengths of the lists created

print(len(job),len(company),len(locations),len(experience))

In [67]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'JOB TITLE':job,'COMPANY':company,'LOCATION':locations,'EXPERIENCE REQUIRED':experience})
df.style.set_caption('DATA SCIENTIST JOBS IN DELHI/NCR WITH APPLIED FILTERS')

In [ ]:
#closing the driver

driver.close()

4.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up flipkart.com website on automated chrome window

driver.get('https://www.flipkart.com/')

In [ ]:
#finding element for product search bar

search_field=driver.find_element_by_class_name('_3704LK')
search_field.send_keys('sunglasses')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [ ]:
#now creating lists
brand=[]
descrip=[]
price=[]
discount=[]

In [ ]:
#extracting data for first page

titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in titles_tags:
    brand.append(i.text)
for i in description:
    descrip.append(i.text)
for i in pri:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
#next page button

driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span').click()

In [ ]:
#extracting data for second page

titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in titles_tags:
    brand.append(i.text)
for i in description:
    descrip.append(i.text)
for i in pri:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [ ]:
#extracting data for third page

titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in titles_tags:
    brand.append(i.text)
for i in description:
    descrip.append(i.text)
for i in pri:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
#for top 100

brand=brand[:100]
descrip=descrip[:100]
price=price[:100]
discount=discount[:100]

In [ ]:
#now checking the length pf the lists

print(len(brand),len(descrip),len(price),len(discount))

In [18]:
#now finally forming a dataframe for the extracted data

df=pd.DataFrame({'BRAND':brand,'DESCRIPTION':descrip,'PRICE':price,'DISCOUNT':discount})
df.style.set_caption('SUNGLASSES AVAILABLE ON FLIPKART')

In [ ]:
#closing the driver

driver.close()

5.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up given URL website on automated chrome window

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')

In [ ]:
#clicking on all reviews button

reviews=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
reviews.click()

In [ ]:
#creating empty list

ratings=[]
sumreview=[]
fullreview=[]

In [ ]:
#extracting ratings,summary review and full review for first page

rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

for i in rating_tags:
    ratings.append(i.text)

In [ ]:
ratings

In [ ]:
sumreview_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

for i in sumreview_tags:
    sumreview.append(i.text)

In [ ]:
sumreview

In [ ]:
fullreview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in fullreview_tags:
    fullreview.append(i.text.replace('\n',''))

In [ ]:
fullreview

In [ ]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()

In [ ]:
#now applying for loop to extract data over different pages

for i in range(0,10):
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    sumreview_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    fullreview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    
    for i in rating_tags:
        ratings.append(i.text)
    for i in sumreview_tags:
        sumreview.append(i.text)
    for i in fullreview_tags:
        fullreview.append(i.text.replace('\n',''))
    
    next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(5)

In [ ]:
#now slicing for top 100 only

ratings=ratings[:100]
sumreview=sumreview[:100]
fullreview=fullreview[:100]

In [ ]:
#now checking the lengths of the lists

print(len(ratings),len(sumreview),len(fullreview))

In [296]:
#finally forming dataframe for the extracted data

df=pd.DataFrame({'RATING':ratings,'REVIEW SUMMARY':sumreview,'FULL REVIEW':fullreview})
df.style.set_caption('APPLE IPHONE 11 REVIEWS')

In [ ]:
#closing the driver

driver.close()

6.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up flipkart.com website on automated chrome window

driver.get('https://www.flipkart.com/')

In [ ]:
#finding element for product search bar

search_field=driver.find_element_by_class_name('_3704LK')
search_field.send_keys('sneakers')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [ ]:
#creating empty lists

brand=[]
pname=[]
price=[]
discount=[]

In [ ]:
#now for second page
title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product=driver.find_elements_by_class_name("IRpwTa")
cost=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in title:
    brand.append(i.text)
for i in product:
    pname.append(i.text)
for i in cost:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
#now clicking on next button

next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()

In [ ]:
#now for second page
title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product=driver.find_elements_by_class_name("IRpwTa")
cost=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in title:
    brand.append(i.text)
for i in product:
    pname.append(i.text)
for i in cost:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
#now clicking on next button

next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [ ]:
#now for third page

title=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product=driver.find_elements_by_class_name("IRpwTa")
cost=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

for i in title:
    brand.append(i.text)
for i in product:
    pname.append(i.text)
for i in cost:
    price.append(i.text)
for i in disc:
    discount.append(i.text)

In [ ]:
#for top 100

brand=brand[0:100]
pname=pname[0:100]
price=price[0:100]
discount=discount[0:100]

In [ ]:
#checking the length of the list

print(len(brand),len(pname),len(price),len(discount))

In [31]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'BRAND':brand,'PRODUCT DESCRIPTION':pname,'PRICE':price,'DISCOUNT':discount})
df.style.set_caption('SNEAKERS AVAILABLE ON FLIPKART')

In [ ]:
#now closing the driver

driver.close()

7.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up myntra.com website on automated chrome window

driver.get('https://www.myntra.com/shoes')

In [ ]:
#now ticking the filter boxes

price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [ ]:
#now creating empty list

brand=[]
pname=[]
price=[]

In [ ]:
#for first page:

title=driver.find_elements_by_xpath("//h3[@class='product-brand']")
product=driver.find_elements_by_class_name("product-product")
cost=driver.find_elements_by_xpath("//div[@class='product-price']")

for i in title:
    brand.append(i.text)
for i in product:
    pname.append(i.text)
for i in cost:
    price.append(i.text)

In [ ]:
#clicking on next page button

button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
button.click()

In [ ]:
#for second page

title=driver.find_elements_by_xpath("//h3[@class='product-brand']")
product=driver.find_elements_by_class_name("product-product")
cost=driver.find_elements_by_xpath("//div[@class='product-price']")

for i in title:
    brand.append(i.text)
for i in product:
    pname.append(i.text)
for i in cost:
    price.append(i.text)

In [ ]:
#now checking the length of the lists

print(len(brand),len(pname),len(price))

In [247]:
#finally forming dataframe for the extracted data

df=pd.DataFrame({'BRAND':brand,'PRODUCT DESCRIPTION':pname,'PRICE':price})
df.style.set_caption('SHOES AVAILABLE ON MYNTRA')

In [ ]:
#closing the driver

driver.close()

8.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up amazon website on automated chrome window

driver.get('https://www.amazon.in/')

In [ ]:
#finding element for product search bar

search_field=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field.send_keys('Laptop')

In [ ]:
#clicking on search button

search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [ ]:
#now setting the filter options

filter1_field=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/input")
filter1_field.send_keys('Intel Core i5','Intel Core i7')
time.sleep(2)

In [ ]:
#now creating empty list

title=[]
rating=[]
price=[]

In [ ]:
#now extracting for titles

title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

for i in title_tags[0:10]:
    title.append(i.text)

In [ ]:
#extracting ratings

rating_tags=driver.find_elements_by_class_name("a-icon-alt")

for i in rating_tags[0:10]:
    rating.append(i.get_attribute('innerHTML'))

In [ ]:
#extracting price

price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

for i in price_tags[0:10]:
    price.append(i.text)

In [ ]:
#now checking the length of the lists formed

print(len(title),len(rating),len(price))

In [82]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'PRODUCT TITLE':title,'RATING':rating,'PRICE':price})
df

,PRODUCT TITLE,RATING,PRICE
0,"Dell New Vostro 3400 Laptop, Intel i5-1135G7, ...",3.8 out of 5 stars,"50,490"
1,"MSI Modern 14, Intel i5-10210U, 14"" FHD IPS-Le...",4.3 out of 5 stars,"48,710"
2,"Lenovo ThinkBook 14 Intel Core i5 11th Gen 14""...",4.1 out of 5 stars,"61,990"
3,Lenovo IdeaPad Slim 3 11th Gen Intel Core i5 1...,3.9 out of 5 stars,"50,890"
4,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,4.3 out of 5 stars,"58,490"
5,"Dell 15 (2021) Intel i5-11300H, Inspiron 5518 ...",4.0 out of 5 stars,"68,490"
6,"Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6"" ...",4.3 out of 5 stars,"47,990"
7,Microsoft Surface Go 10th Gen Intel Core i5-10...,4.2 out of 5 stars,"64,890"
8,HP 15s 11th Gen Intel Core i5 15.6 inch(39.6 c...,4.2 out of 5 stars,"54,590"
9,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.4 out of 5 stars,"62,299"

In [83]:
#closing the driver 

driver.close()

9.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up ambitionbox website on automated chrome window

driver.get('https://www.ambitionbox.com/')

In [ ]:
#clicking on job option

driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

In [ ]:
#now entering search field designation

driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [ ]:
#clicking on search button

driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()

In [ ]:
#now entering the location

driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]').click()

In [ ]:
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys('Noida')

In [ ]:
#selecting the option

Noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
Noida.click()

In [ ]:
#creating empty lists

company=[]
date=[]
rating=[]

In [ ]:
#extracting company name

company_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")

In [ ]:
for i in company_tags:
    company.append(i.text)

In [ ]:
#extracting dates

dates=driver.find_elements_by_xpath("//span[@class='body-small-l']")

for i in dates:
    date.append(i.text.split(' ')[0:2])

In [ ]:
date=date[::2]

In [ ]:
#extacting rating

ratings=driver.find_elements_by_xpath("//span[@class='body-small']")

for i in ratings:
    rating.append(i.text)

In [ ]:
rating

In [ ]:
#now checking the length of the lists formed

print(len(company),len(date),len(rating))

In [193]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'COMPANY':company,'POSTED':date,'RATING':rating})
df

                                            COMPANY       POSTED RATING
0                  EXL Services.com ( I ) Pvt. Ltd.    [8d, ago]    3.9
1                     GENPACT India Private Limited   [20d, ago]    4.0
2  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED    [6d, ago]    3.9
3                     GENPACT India Private Limited  [1mon, ago]    4.0
4                         Bristlecone India Limited   [15d, ago]    3.8
5                                             Zyoin   [19d, ago]    4.1
6                Ashkom Media India Private Limited    [6d, ago]    3.7
7                 Newgen Software Technologies Ltd.   [21d, ago]    3.5
8                                 JK Technosoft Ltd  [1mon, ago]    3.7
9                        Pitney Bowes India Pvt Ltd  [1mon, ago]    4.2

In [ ]:
#closing the driver

driver.close()

10.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up ambitionbox website on automated chrome window

driver.get('https://www.ambitionbox.com/')

In [ ]:
#clicking on salaries option

driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()

In [ ]:
#now entering search field designation

filter1=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')
time.sleep(1)

In [ ]:
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]').click()

In [ ]:
#creating empty lists

company=[]
tsd=[]
asal=[]
misal=[]
maxsal=[]
exp=[]

In [ ]:
#extracting company names

ctag=driver.find_elements_by_xpath("//div[@class='name']")

for i in ctag:
    i=i.text
    i=i[:i.index('\n')]
    company.append(i)

In [ ]:
#since ctag holds total salary record as well

for i in ctag:
    i=i.text
    i=i[(i.index('\n')+1):]
    tsd.append(i)

In [ ]:
#extracting average,minimum and maximum salaries

average=driver.find_elements_by_xpath("//p[@class='averageCtc']")

for i in average:
    asal.append(i.text)

In [ ]:
salaryboth=[]
salary=driver.find_elements_by_xpath("//div[@class='salary-values']")

for i in salary:
    salaryboth.append(i.text)

In [ ]:
#for minimum salary

for i in salaryboth:
    i=i[:i.index('\n')]
    misal.append(i)
    
#for maximum salary

for i in salaryboth:
    i=i[i.index('\n')+1:]
    maxsal.append(i)

In [ ]:
#extracting experience

experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

for i in experience:
    exp.append(i.text[19:])

In [ ]:
#now checking the length of the lists formed

print(len(company),len(tsd),len(asal),len(misal),len(maxsal),len(exp))

In [108]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'COMPANY':company,'EXPERIENCE':exp,'MINIMUM SALARY':misal,'AVERAGE SALARY':asal,'MAXIMUM SALARY':maxsal,'SALARY DATA':tsd})
df.style.set_caption('SALARY RECORD FOR DATA SCIENTIST')

In [ ]:
#closing the driver

driver.close()